.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem 0.5rem 2rem;
  margin-top: auto;
  flex-wrap: wrap;
}

footer p {
  font-size: 16px;
  padding-right: 2rem;
}

.footer-links {
  align-self: center;
}

.footer-links img {
  height: 20px;
}

.muckrack-logo,
.x-logo {
  margin-left: 2.5rem;
}

.x-logo img {
  height: 17px;
  margin-bottom: 2px;
}

.muckrack-logo {
  color: black;
}
